# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
backend.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Generated packages
*.zip

# Python
__pycache__/
*.pyc
.pytest_cache/

# OS / IDE
.vscode/
.DS_Store
*:Zone.Identifier
